<!-- <div class="content">
    <div class="row">
        <div class="col-md-10">
            <a routerLink="/tabla">
                <button pButton type="submit" label="Modificar" class="ui-button-rounded ui-button-info"></button>
            </a>
        </div>

        <div class="col-md-2">
            <a routerLink="/tabla">
                <button pButton type="submit" label="Eliminar" class="ui-button-rounded ui-button-info"></button>
            </a>
        </div>
    </div>


    <div class="detalles">
        <h3>Hello  name  !!!!!! </h3>
        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
        </p>
        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
        </p>
        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
        </p>
    </div>

    <div class="btn">
        <a routerLink="/tabla">
            <button pButton type="submit" label="Regresar" class="ui-button-rounded ui-button-info"></button>
        </a>
    </div>
</div> -->



<div class='card'
     *ngIf='product'>
  <div class='card-header'>
     pageTitle + ': ' + product.productType + " - " + product.brand  
  </div>

  <!-- id
  brand
  detail
  price
  model
  productType -->

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Tipo de producto:</div>
          <div class='col-md-8'>product.productType</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Marca:</div>
          <div class='col-md-8'> product.brand  </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Modelo:</div>
          <div class='col-md-8'> product.model  </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Detalle:</div>
          <div class='col-md-8'> product.detail  </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Precio:</div>
          <div class='col-md-8'> product.price </div>
        </div>
      
      </div>

      <div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='product.imageUrl'
             [title]='product.productName'>
      </div>
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>